{% extends 'base.html' %}

{% block header %}
  <section class="section">
    <div class="container">
      {% block title %}<h4 class="is-size-4">About This Place</h4>{% endblock %}
    </div>
  </section>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="container">
          This is my personal website. It's also a sort of portfolio.
          It is called 'thetaverse' because I thought it would be a worthwile domain to grab after Facbook changed its name. Anyway, recently I decided to launch a homepage for myself, realized it was one of the only domains I still owned. So BAM. thetaverse.art it is.
          </br>Anyway
        </div>
      </div>
    </div>
  </section>
{% endblock %}
